.filtro{
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(116, 124, 127);
    border-radius: 10px;
    & label{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 900;
        color: black;
    }
    & select, input{
        border-radius: 5px;
        padding: 5px;
    }
}